.dropdown-card-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px;
}

.dropdown-card-header h3 {
  margin: 0;
}

.dropdown-card-header:hover {
  cursor: pointer;
}

.dropdown-card-content {
  display: flex;
  flex-direction: column;
  padding: 6px 24px;
  row-gap: 8px;
}

.dropdown-card-buttons {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 16px;
}

.dropdown-card-buttons button {
  padding: 4px;
}
