.student-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex-grow: 1;
  padding-bottom: min(3vh, 28px);
  min-width: 350px;
}

.student-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.student-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.student-input-container label {
  font-size: 16px;
  line-height: 19px;
}

.student-input-container input {
  margin-left: 12px;
  font-size: 16px;
}

.student-form .fixed-button {
  position: fixed;
  bottom: 0;
  max-width: calc(768px - 8vw);
  width: calc(100% - 8vw);
}