.edit-package-content {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 48px auto 96px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #c7c7c7;
  padding: 24px 16px 0;
  min-width: 360px;
}

.edit-package-content h2 {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 20px;
}

.edit-package-content h2:hover {
  cursor: pointer;
}

.inner-header {
  display: flex;
  justify-content: space-evenly;
}

.selected {
  text-decoration: underline;
  font-size: 24px !important;
}

.selected:hover {
  cursor: default !important;
}