.students-management-content {
  display: flex;
  flex-direction: column;
  margin: 16px auto 0;
  width: 92%;
  max-width: 750px;
  flex-grow: 1;
}

.students-management-content h2 {
  margin: 16px 0 12px;
}

.add-student-button {
  margin: auto 0 42px;
}