* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  height: 32px;
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;;
}

input, select {
  height: 28px;
  font-size: 14px;
  padding: 6px;
  border-radius: 12px;
  border-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.7);
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-left-color: rgba(0, 0, 0, 0.7);
  border-right-color: rgba(0, 0, 0, 0.7);
}

button:hover {
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-title {
  font-size: 36px;
  margin-top: 8px;
  margin-right: 12%;
  flex-grow: 1;
  text-align: center;
}

.header-return {
  margin-left: 4vw;
  display: flex;
  min-width: 62px;
}

.header-return:hover {
  cursor: pointer;
  text-decoration: underline;
}

.field-error {
  font-size: 12px;
  color: red;
}