.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(108, 108, 108, 0.64);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

@media (max-height: 450px) {
  .popup {
    overflow-y: scroll;
  }
}

.popup-inner {
  position: relative;
  width: 75%;
  height: auto;
  max-width: 640px;
  background-color: #ffffff;
  box-shadow: -1px 1px 4px var(--base-3);
  border-radius: 12px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: min(8%, 48px);
  padding-right: min(8%, 48px);
}

.close-btn {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid var(--action-button-background-secondary);
  border-radius: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -18px;
  top: -18px;
}

.close-btn:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.popup-inline-inner {
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 8px;
  filter: var(--drop-shadow-3);
}
