.google-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #4285F4;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  cursor: pointer;
}

.google-login:hover {
  background-color: #357AE8;
}
