.fixed-button {
  position: absolute;
  bottom: 32px;
  width: 394px;
}

.subject-card {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.subject-card .card-title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.subject-popup-content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 12px 0;
  padding: 4px;
  overflow-y: auto;
  max-height: 500px;
}

.popup-title {
  text-align: center;
  margin: 16px;
}

.subject-add-button {
  width: 100%;
  margin-bottom: 14px;
}