.activity-management-content {
  display: flex;
  flex-direction: column;
  margin: 16px auto 0;
  width: 92%;
  max-width: 750px;
  flex-grow: 1;
}

.activity-management-content h2 {
  margin: 16px 0 12px;
}

.activities-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}