.inner-header {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  margin-bottom: 24px;
}

.activities-container {
  margin-bottom: 24px;
}

.activity-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.activity-card .card-title {
  font-size: 16px;
  margin: 4px 0 12px;
}

.activity-card .card-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}